
h1{
  font-size: 40px;
  font-family: Times New Roman;
  font-weight: bold;
}
/**/
.pers{
heigth: 22px;
padding: 15px;
}

.pers ul{
width:100%;
}

.pers li{
float:left;
list-style-type:none;
dislpay: inline-block;
padding-left: 5px;
padding-right: 5px;
}

.pers a:hover{
background-color: rgb(100,50,300);
}

/*aqui la parte de la nevrgacion*/

.nave{
float: center;
/*max-width: 300px;*/
color: #000000;
padding:200px;
border: 1px #adc341;
background-color: rgb(200,200,200);
}

.ini{
padding: 2px;
/*padding-bottom: 2px;*/
float:center;
background-color: rgb(200,300,200);

}

.vacio{
float: left;
max-width: 80px;
}

p{
margin-left: 5px;
overflow: hidden;
}
